<a href="https://colab.research.google.com/github/havaledar/ECON3740_W25/blob/main/ECON3740_W25_lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Computer Assignment 4

The first exercise C2 uses a variation of HPRICE1, which is cross-sectional individual data containing information on Boston, Massachusetts area gathered from the real estate pages of the Boston Globe during 1990.

NOTE: When computing the residual in (vi), the answer is in dollars, not thousands. For instance, if the residual were say "5" you need to enter it as $5000.

For the second exercise C4, you will be using a variation of ATTEND, which is cross-sectional individual data containing information on students' class attendance, cumulative GPA, ACT scores, and other variables gathered from Principles of Microeconomics students at Michigan State University.

NOTE: At the end of (iv), the TRUE/FALSE where the predicted attendance rate is more than 100%, an attendance rate above 100% is considered wrong and it needs to be truncated to 100%. I disagree, as I think that how to report predictions outside a feasible interval is a matter of opinion (but the correct answer is FALSE).
Also, in (v), the answer should have said "percentage points" not "%" (but it is otherwise correct).

# Libraries

In [1]:
import pandas as pd

# Reading Stata Files

## Download LFS data

Download LFS from Odesi Nesstar first from https://odesi.ca/en

## read_stata

Once the file is uploaded and the libraries you are going to use imported, you can read it into a DataFrame.

```python
data = pd.read_stata('file.dta')
```

Make sure the filename matches the uploaded file.

You can also reference the full Google Colab filesystem path if needed:

```
data = pd.read_stata('/content/file.dta')
```

For example, we can import a dta file of survey data downloaded from a website:

To read a dta file into a DataFrame:

```python
data = pd.read_stata('LFS-71M0001-E-2023-August_F1.dta')
```

Pandas will automatically convert the data into a DataFrame.

Here is the documentation for read_stata.
https://colab.research.google.com/corgiredirector?site=https%3A%2F%2Fpandas.pydata.org%2Fdocs%2Freference%2Fapi%2Fpandas.read_stata.html

## Labels or Values

When you are reading the dta files, you can indicate if you need the values(convert_categoricals = False) or the lables(convert_categoricals = True) for the categorical variables as below. The read_stata by default read the lables not the values.

```python
data = pd.read_stata('LFS-71M0001-E-2023-August_F1.dta', convert_categoricals=False)
```

In [2]:
data_stata_labels = pd.read_stata("/content/LFS-71M0001-E-2022-February_F1.dta")
data_stata_labels

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
0,1,2022,February,Not in labour force,Ontario,Toronto,15 to 19 years,15 to 16 years,Female,"Single, never married",...,NaN,NaN,NaN,NaN,NaN,NaN,Full-time student,Other families,NaN,1168
1,2,2022,February,Not in labour force,Newfoundland and Labrador,Other CMA or non-CMA,20 to 24 years,22 to 24 years,Female,"Single, never married",...,NaN,NaN,NaN,NaN,NaN,NaN,Full-time student,Person not in an economic family,NaN,76
2,3,2022,February,Not in labour force,Ontario,Other CMA or non-CMA,45 to 49 years,NaN,Female,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Single-earner couple, male employed, youngest ...",Youngest child 6 to 12 years,422
3,4,2022,February,Not in labour force,Quebec,Montr√©al,70 and over,NaN,Male,Living in common-law,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Single-earner couple, female employed, no chil...",NaN,290
4,5,2022,February,Not in labour force,Saskatchewan,Other CMA or non-CMA,60 to 64 years,NaN,Male,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Single-earner couple, female employed, no chil...",NaN,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,103654,2022,February,"Employed, at work",Alberta,Other CMA or non-CMA,55 to 59 years,NaN,Male,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Dual-earner couple, no children or none under 25",NaN,93
103654,103655,2022,February,"Employed, at work",Ontario,Hamilton,35 to 39 years,NaN,Male,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Dual-earner couple, youngest child 0 to 17",Youngest child less than 6 years,303
103655,103656,2022,February,"Employed, at work",Quebec,Other CMA or non-CMA,60 to 64 years,NaN,Female,"Single, never married",...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,Person not in an economic family,NaN,68
103656,103657,2022,February,"Employed, at work",British Columbia,Vancouver,40 to 44 years,NaN,Female,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Dual-earner couple, youngest child 0 to 17",Youngest child 6 to 12 years,225
103657,103658,2022,February,"Employed, at work",New Brunswick,Other CMA or non-CMA,40 to 44 years,NaN,Male,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,Other families,NaN,179

In [3]:

data_stata_values = pd.read_stata('/content/LFS-71M0001-E-2022-February_F1.dta', convert_categoricals=True)
data_stata_values

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
0,1,2022,February,Not in labour force,Ontario,Toronto,15 to 19 years,15 to 16 years,Female,"Single, never married",...,NaN,NaN,NaN,NaN,NaN,NaN,Full-time student,Other families,NaN,1168
1,2,2022,February,Not in labour force,Newfoundland and Labrador,Other CMA or non-CMA,20 to 24 years,22 to 24 years,Female,"Single, never married",...,NaN,NaN,NaN,NaN,NaN,NaN,Full-time student,Person not in an economic family,NaN,76
2,3,2022,February,Not in labour force,Ontario,Other CMA or non-CMA,45 to 49 years,NaN,Female,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Single-earner couple, male employed, youngest ...",Youngest child 6 to 12 years,422
3,4,2022,February,Not in labour force,Quebec,Montr√©al,70 and over,NaN,Male,Living in common-law,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Single-earner couple, female employed, no chil...",NaN,290
4,5,2022,February,Not in labour force,Saskatchewan,Other CMA or non-CMA,60 to 64 years,NaN,Male,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Single-earner couple, female employed, no chil...",NaN,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,103654,2022,February,"Employed, at work",Alberta,Other CMA or non-CMA,55 to 59 years,NaN,Male,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Dual-earner couple, no children or none under 25",NaN,93
103654,103655,2022,February,"Employed, at work",Ontario,Hamilton,35 to 39 years,NaN,Male,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Dual-earner couple, youngest child 0 to 17",Youngest child less than 6 years,303
103655,103656,2022,February,"Employed, at work",Quebec,Other CMA or non-CMA,60 to 64 years,NaN,Female,"Single, never married",...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,Person not in an economic family,NaN,68
103656,103657,2022,February,"Employed, at work",British Columbia,Vancouver,40 to 44 years,NaN,Female,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,"Dual-earner couple, youngest child 0 to 17",Youngest child 6 to 12 years,225
103657,103658,2022,February,"Employed, at work",New Brunswick,Other CMA or non-CMA,40 to 44 years,NaN,Male,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,Non-student,Other families,NaN,179

## Description

In [5]:
data_stata = pd.read_stata('/content/LFS-71M0001-E-2022-February_F1.dta', iterator=True)
data_stata.variable_labels()

{'REC_NUM': 'Order of record in file',
 'SURVYEAR': 'Survey year',
 'SURVMNTH': 'Survey month',
 'LFSSTAT': 'Labour force status',
 'PROV': 'Province',
 'CMA': 'Nine largest CMAs',
 'AGE_12': 'Five-year age group of respondent',
 'AGE_6': 'Age in 2 and 3 year groups, 15 to 29',
 'SEX': 'Sex of respondent',
 'MARSTAT': 'Marital status of respondent',
 'EDUC': 'Highest educational attainment',
 'MJH': 'Single or multiple jobholder',
 'EVERWORK': 'Not currently employed, worked in the past',
 'FTPTLAST': 'Full- or part-time status of last job',
 'COWMAIN': 'Class of worker, main job',
 'IMMIG': 'Immigration status',
 'NAICS_21': 'Industry of main job',
 'NOC_10': 'Occupation at main job',
 'NOC_40': 'Occupation at main job',
 'YABSENT': 'Reason of absence, full week',
 'WKSAWAY': 'Number of weeks absent from work',
 'PAYAWAY': 'Paid for time off, full-week absence only',
 'UHRSMAIN': 'Usual hours worked per week at main job',
 'AHRSMAIN': 'Actual hours worked per week at main job',
 'FTPTMAIN': 'Full- or part-time status at main or only job',
 'UTOTHRS': 'Usual hours worked per week at all jobs',
 'ATOTHRS': 'Actual hours worked per week at all jobs',
 'HRSAWAY': 'Hours away from work, part-week absence only',
 'YAWAY': 'Reason for part-week absence',
 'PAIDOT': 'Paid overtime hours in reference week',
 'UNPAIDOT': 'Unpaid overtime hours in reference week',
 'XTRAHRS': 'Number of overtime or extra hours worked',
 'WHYPT': 'Reason for part-time work',
 'TENURE': 'Job tenure with current employer (months)',
 'PREVTEN': 'Job tenure with previous employer (months)',
 'HRLYEARN': 'Usual hourly wages, employees only',
 'UNION': 'Union status, employees only',
 'PERMTEMP': 'Job permanency, employees only',
 'ESTSIZE': 'Establishment size',
 'FIRMSIZE': 'Firm size',
 'DURUNEMP': 'Duration of unemployment (weeks)',
 'FLOWUNEM': 'Flows into unemployment',
 'UNEMFTPT': 'Unemployed, type of job wanted',
 'WHYLEFTO': 'Reason for leaving job during previous year',
 'WHYLEFTN': 'Reason for leaving job during previous year',
 'DURJLESS': 'Duration of joblessness (months)',
 'AVAILABL': 'Availability during the reference week',
 'LKPUBAG': 'Unemployed, used public employment agency',
 'LKEMPLOY': 'Unemployed, checked with employers directly',
 'LKRELS': 'Unemployed, checked with friends or relatives',
 'LKATADS': 'Unemployed, looked at job ads',
 'LKANSADS': 'Unemployed, placed or answered ads',
 'LKOTHERN': 'Unemployed, other methods',
 'PRIORACT': 'Main activity before started looking for work',
 'YNOLOOK': 'Reason for not looking for work during the reference week',
 'TLOLOOK': 'Temporary layoff, looked for work during the last four weeks',
 'SCHOOLN': 'Current student status',
 'EFAMTYPE': 'Type of economic family',
 'AGYOWNK': 'Age of youngest child',
 'FINALWT': 'Standard final weight'}

## Type

In [6]:
data_stata_type = pd.read_stata('/content/LFS-71M0001-E-2022-February_F1.dta', preserve_dtypes=False)
data_stata_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103658 entries, 0 to 103657
Data columns (total 60 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   REC_NUM   103658 non-null  int64
 1   SURVYEAR  103658 non-null  int64
 2   SURVMNTH  103658 non-null  category
 3   LFSSTAT   103658 non-null  category
 4   PROV      103658 non-null  category
 5   CMA       103658 non-null  category
 6   AGE_12    103658 non-null  category
 7   AGE_6     19184 non-null   category
 8   SEX       103658 non-null  category
 9   MARSTAT   103658 non-null  category
 10  EDUC      103658 non-null  category
 11  MJH       59943 non-null   category
 12  EVERWORK  43715 non-null   category
 13  FTPTLAST  7119 non-null    category
 14  COWMAIN   67062 non-null   category
 15  IMMIG     103658 non-null  category
 16  NAICS_21  67062 non-null   category
 17  NOC_10    67062 non-null   category
 18  NOC_40    67062 non-null   category
 19  YABSENT   4667 non-null    category
 20  WKSAWAY   4667 non-null    float64
 21  PAYAWAY   4094 non-null    category
 22  UHRSMAIN  59943 non-null   float64
 23  AHRSMAIN  59943 non-null   float64
 24  FTPTMAIN  59943 non-null   category
 25  UTOTHRS   59943 non-null   float64
 26  ATOTHRS   59943 non-null   float64
 27  HRSAWAY   47824 non-null   float64
 28  YAWAY     6299 non-null    category
 29  PAIDOT    47824 non-null   float64
 30  UNPAIDOT  47824 non-null   float64
 31  XTRAHRS   47824 non-null   float64
 32  WHYPT     11857 non-null   category
 33  TENURE    59943 non-null   float64
 34  PREVTEN   7119 non-null    float64
 35  HRLYEARN  51647 non-null   float64
 36  UNION     51647 non-null   category
 37  PERMTEMP  51647 non-null   category
 38  ESTSIZE   51647 non-null   category
 39  FIRMSIZE  51647 non-null   category
 40  DURUNEMP  3522 non-null    float64
 41  FLOWUNEM  3630 non-null    category
 42  UNEMFTPT  3630 non-null    category
 43  WHYLEFTO  7119 non-null    category
 44  WHYLEFTN  7119 non-null    category
 45  DURJLESS  37248 non-null   float64
 46  AVAILABL  4033 non-null    category
 47  LKPUBAG   374 non-null     category
 48  LKEMPLOY  1418 non-null    category
 49  LKRELS    937 non-null     category
 50  LKATADS   2626 non-null    category
 51  LKANSADS  1255 non-null    category
 52  LKOTHERN  760 non-null     category
 53  PRIORACT  3350 non-null    category
 54  YNOLOOK   1423 non-null    category
 55  TLOLOOK   172 non-null     category
 56  SCHOOLN   76893 non-null   category
 57  EFAMTYPE  103658 non-null  category
 58  AGYOWNK   26419 non-null   category
 59  FINALWT   103658 non-null  int64
dtypes: category(43), float64(14), int64(3)
memory usage: 17.7 MB

You can check the not null values with both info and describe.

## pyreadstat

In [7]:
!pip install pyreadstat
import pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.0 kB)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.17.0)
Downloading pyreadstat-1.2.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 2.9/2.9 MB 26.7 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.8

In [8]:
d, meta = pyreadstat.read_dta('/content/LFS-71M0001-E-2022-February_F1.dta')

In [10]:
d

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
0,1,2022,2,4,35,4,1,1,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2,18,NaN,1168
1,2,2022,2,4,10,0,2,4,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2,1,NaN,76
2,3,2022,2,4,35,0,7,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,6,2,422
3,4,2022,2,4,24,2,12,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,290
4,5,2022,2,4,47,0,10,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,8,NaN,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,103654,2022,2,1,48,0,9,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,93
103654,103655,2022,2,1,35,5,5,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3,1,303
103655,103656,2022,2,1,24,0,10,NaN,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,68
103656,103657,2022,2,1,59,9,6,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3,2,225
103657,103658,2022,2,1,13,0,6,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,18,NaN,179

In [9]:
print(meta.column_labels)

['Order of record in file', 'Survey year', 'Survey month', 'Labour force status', 'Province', 'Nine largest CMAs', 'Five-year age group of respondent', 'Age in 2 and 3 year groups, 15 to 29', 'Sex of respondent', 'Marital status of respondent', 'Highest educational attainment', 'Single or multiple jobholder', 'Not currently employed, worked in the past', 'Full- or part-time status of last job', 'Class of worker, main job', 'Immigration status', 'Industry of main job', 'Occupation at main job', 'Occupation at main job', 'Reason of absence, full week', 'Number of weeks absent from work', 'Paid for time off, full-week absence only', 'Usual hours worked per week at main job', 'Actual hours worked per week at main job', 'Full- or part-time status at main or only job', 'Usual hours worked per week at all jobs', 'Actual hours worked per week at all jobs', 'Hours away from work, part-week absence only', 'Reason for part-week absence', 'Paid overtime hours in reference week', 'Unpaid overtime hours in reference week', 'Number of overtime or extra hours worked', 'Reason for part-time work', 'Job tenure with current employer (months)', 'Job tenure with previous employer (months)', 'Usual hourly wages, employees only', 'Union status, employees only', 'Job permanency, employees only', 'Establishment size', 'Firm size', 'Duration of unemployment (weeks)', 'Flows into unemployment', 'Unemployed, type of job wanted', 'Reason for leaving job during previous year', 'Reason for leaving job during previous year', 'Duration of joblessness (months)', 'Availability during the reference week', 'Unemployed, used public employment agency', 'Unemployed, checked with employers directly', 'Unemployed, checked with friends or relatives', 'Unemployed, looked at job ads', 'Unemployed, placed or answered ads', 'Unemployed, other methods', 'Main activity before started looking for work', 'Reason for not looking for work during the reference week', 'Temporary layoff, looked for work during the last four weeks', 'Current student status', 'Type of economic family', 'Age of youngest child', 'Standard final weight']

In [12]:
meta.variable_value_labels['SURVMNTH']

{1: 'January',
 2: 'February',
 3: 'March',
 4: 'April',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'August',
 9: 'September',
 10: 'October',
 11: 'November',
 12: 'December'}

# Recent datasets

In [15]:
pd.read_spss('/content/LFS_June_2024 (1).sav', convert_categoricals=False)

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
0,1.0,2024.0,6.0,1.0,48.0,0.0,4.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,1.0,101.0
1,2.0,2024.0,6.0,2.0,24.0,2.0,5.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,1.0,209.0
2,3.0,2024.0,6.0,1.0,13.0,0.0,4.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,1.0,99.0
3,4.0,2024.0,6.0,4.0,11.0,0.0,8.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,58.0
4,5.0,2024.0,6.0,1.0,59.0,9.0,4.0,NaN,2.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,345.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113103,113104.0,2024.0,6.0,4.0,11.0,0.0,12.0,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,35.0
113104,113105.0,2024.0,6.0,1.0,35.0,0.0,10.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,196.0
113105,113106.0,2024.0,6.0,4.0,35.0,0.0,10.0,NaN,1.0,2.0,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,11.0,NaN,90.0
113106,113107.0,2024.0,6.0,1.0,24.0,1.0,8.0,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9.0,3.0,218.0
113107,113108.0,2024.0,6.0,4.0,47.0,0.0,11.0,NaN,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,88.0

In [16]:
d1, m1 = pyreadstat.read_dta('/content/LFS-71M0001-E-2022-February_F1.dta')

In [17]:
d1

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
0,1,2022,2,4,35,4,1,1,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2,18,NaN,1168
1,2,2022,2,4,10,0,2,4,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2,1,NaN,76
2,3,2022,2,4,35,0,7,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,6,2,422
3,4,2022,2,4,24,2,12,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,290
4,5,2022,2,4,47,0,10,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,8,NaN,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,103654,2022,2,1,48,0,9,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,93
103654,103655,2022,2,1,35,5,5,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3,1,303
103655,103656,2022,2,1,24,0,10,NaN,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,68
103656,103657,2022,2,1,59,9,6,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3,2,225
103657,103658,2022,2,1,13,0,6,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,18,NaN,179