<a href="https://colab.research.google.com/github/havaledar/ECON3740_W25/blob/main/ECON3740_W25_lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Report Format for Google Colab
To create a well-organized and visually appealing report in Google Colab, follow these guidelines for structuring your submission effectively.

## Use Proper Headings
Organize your report using appropriate headings.

If an assignment has 3 questions with 4 parts each, you can structure it like this:

```
# Question 1
## Part 1
## Part 2
## Part 3
## Part 4

# Question 2
## Part 1
## Part 2
## Part 3
## Part 4

# Question 3
## Part 1
## Part 2
## Part 3
## Part 4
```

## Use Separate Text Cells for Each Heading
Each heading (e.g., # Question 1 or ## Part 1) should be placed in its own text cell for better readability and organization.

## Add Explanations in the Same Cell as the Heading
After adding a heading, include the required explanation in the same text cell.

Example:

```
# Question 1
## Part 1
This is just a test text for Question 1, Part 1.
```

## Keep Code and Non-Report Content in Separate Cells
Place all code cells and any additional information after the corresponding text cell. This ensures the report remains clean and easy to follow.

## Expand or Collapse Sections as Needed
To manage the notebook layout before submission:

Collapse a section: Press Ctrl + ]
Expand a section: Press Ctrl + [
Alternatively, go to View → Collapse sections / Expand sections in the menu.

## Enhance Your Report with Media
You can insert images, tables, or formulas into text cells to improve clarity and presentation.

### Inserting an Image

```
![Canada](https://upload.wikimedia.org/wikipedia/en/c/cf/Flag_of_Canada.svg)
```

![Canada](https://upload.wikimedia.org/wikipedia/en/c/cf/Flag_of_Canada.svg)

![US](https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg)

### Creating a Table
```
| Feature | X (Input) | Y (Output) |
|---------|----------|------------|
| 1       | 2        | 4.1        |
| 2       | 3        | 6.2        |
| 3       | 4        | 8.3        |
```

| Feature | X (Input) | Y (Output) |
|---------|----------|------------|
| 1       | 2        | 4.1        |
| 2       | 3        | 6.2        |
| 3       | 4        | 8.3        |

# Guidelines for Submitting Your Google Colab Notebook

You have multiple options for submitting your work. Please follow one of the methods below to ensure your submission is properly formatted and accepted.

1. Submitting as a Document: Copy the results from your Google Colab notebook into a Word (doc/docx), Google Doc, or PDF file.

2. Submitting the Notebook File: Since PEAR does not support direct submission of .ipynb files, you must choose one of the following alternatives:
  1. **Rename the file:** Change the file extension from .ipynb to .txt.
  ```
  Example: my_notebook.ipynb → my_notebook.txt
  Submit the renamed .txt file.
  Compress the file:
  ```
  1. Zip the .ipynb file and submit the .zip archive.

Make sure your notebook is well-organized and properly formatted before submission.

Ensure the document includes both collapsed and expanded versions of your notebook for clarity.

# Concating dataframes

If you want to see the codes expand this section.

In [1]:
%%capture
!pip install pyreadstat
import pyreadstat as pt
import pandas as pd

In [2]:
files = {
    "jan.sav": "https://borealisdata.ca/api/access/datafile/599141",
    "feb.sav": "https://borealisdata.ca/api/access/datafile/599071",
    "mar.sav": "https://borealisdata.ca/api/access/datafile/598922"
}

In [3]:
for filename, url in files.items():
    !wget -O {filename} {url}

--2025-03-07 15:54:49--  https://borealisdata.ca/api/access/datafile/599141
Resolving borealisdata.ca (borealisdata.ca)... 142.1.121.150
Connecting to borealisdata.ca (borealisdata.ca)|142.1.121.150|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://olrc2.scholarsportal.info/dataverse/10.5683/SP3/ZZKASL/18946a1b216-4b6190a2d240?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27LFS-71M0001-E-2021-January_F1.sav&response-content-type=application%2Fx-spss-sav&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250307T155449Z&X-Amz-SignedHeaders=host&X-Amz-Expires=7200&X-Amz-Credential=33b141c798354e21a3394e9e4f546bbe%2F20250307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3a7859ce93d1b742a62c16e6421037dd1ebfa5deee26d74fd1f6c80349262362 [following]
--2025-03-07 15:54:49--  https://olrc2.scholarsportal.info/dataverse/10.5683/SP3/ZZKASL/18946a1b216-4b6190a2d240?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27LFS-71M0001-E-2021-January_F1.sav&response-content-type=application%2Fx-spss-sav&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250307T155449Z&X-Amz-SignedHeaders=host&X-Amz-Expires=7200&X-Amz-Credential=33b141c798354e21a3394e9e4f546bbe%2F20250307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3a7859ce93d1b742a62c16e6421037dd1ebfa5deee26d74fd1f6c80349262362
Resolving olrc2.scholarsportal.info (olrc2.scholarsportal.info)... 142.1.121.23, 142.1.121.22, 142.1.121.21
Connecting to olrc2.scholarsportal.info (olrc2.scholarsportal.info)|142.1.121.23|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7431115 (7.1M) [application/x-spss-sav]
Saving to: ‘jan.sav’

jan.sav             100%[===================>]   7.09M  20.7MB/s    in 0.3s

2025-03-07 15:54:50 (20.7 MB/s) - ‘jan.sav’ saved [7431115/7431115]

--2025-03-07 15:54:50--  https://borealisdata.ca/api/access/datafile/599071
Resolving borealisdata.ca (borealisdata.ca)... 142.1.121.150
Connecting to borealisdata.ca (borealisdata.ca)|142.1.121.150|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://olrc2.scholarsportal.info/dataverse/10.5683/SP3/LRNT7L/18946a1939c-108498ded7bc?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27LFS-71M0001-E-2021-February_F1.sav&response-content-type=application%2Fx-spss-sav&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250307T155451Z&X-Amz-SignedHeaders=host&X-Amz-Expires=7200&X-Amz-Credential=33b141c798354e21a3394e9e4f546bbe%2F20250307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=07fc72d6c811f8f3543accbcb81b6075d41a276b0cbf4bdc62780f20034644c6 [following]
--2025-03-07 15:54:51--  https://olrc2.scholarsportal.info/dataverse/10.5683/SP3/LRNT7L/18946a1939c-108498ded7bc?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27LFS-71M0001-E-2021-February_F1.sav&response-content-type=application%2Fx-spss-sav&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250307T155451Z&X-Amz-SignedHeaders=host&X-Amz-Expires=7200&X-Amz-Credential=33b141c798354e21a3394e9e4f546bbe%2F20250307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=07fc72d6c811f8f3543accbcb81b6075d41a276b0cbf4bdc62780f20034644c6
Resolving olrc2.scholarsportal.info (olrc2.scholarsportal.info)... 142.1.121.23, 142.1.121.22, 142.1.121.21
Connecting to olrc2.scholarsportal.info (olrc2.scholarsportal.info)|142.1.121.23|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7564035 (7.2M) [application/x-spss-sav]
Saving to: ‘feb.sav’

feb.sav             100%[===================>]   7.21M  20.5MB/s    in 0.4s

2025-03-07 15:54:51 (20.5 MB/s) - ‘feb.sav’ saved [7564035/7564035]

--2025-03-07 15:54:51--  https://borealisdata.ca/api/access/datafile/598922
Resolving borealisdata.ca (borealisdata.ca)... 142.1.121.150
Connecting to borealisdata.ca (borealisdata.ca)|142.1.121.150|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://olrc2.scholarsportal.info/dataverse/10.5683/SP3/ALIN20/18946a157c4-5d2c63e03da8?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27LFS-71M0001-E-2021-March_F1.sav&response-content-type=application%2Fx-spss-sav&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250307T155452Z&X-Amz-SignedHeaders=host&X-Amz-Expires=7199&X-Amz-Credential=33b141c798354e21a3394e9e4f546bbe%2F20250307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=2a2674e13d39276c7d059e837fcf75372c138050f62a2374bc5ca5d992af4c30 [following]
--2025-03-07 15:54:52--  https://olrc2.scholarsportal.info/dataverse/10.5683/SP3/ALIN20/18946a157c4-5d2c63e03da8?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27LFS-71M0001-E-2021-March_F1.sav&response-content-type=application%2Fx-spss-sav&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250307T155452Z&X-Amz-SignedHeaders=host&X-Amz-Expires=7199&X-Amz-Credential=33b141c798354e21a3394e9e4f546bbe%2F20250307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=2a2674e13d39276c7d059e837fcf75372c138050f62a2374bc5ca5d992af4c30
Resolving olrc2.scholarsportal.info (olrc2.scholarsportal.info)... 142.1.121.23, 142.1.121.22, 142.1.121.21
Connecting to olrc2.scholarsportal.info (olrc2.scholarsportal.info)|142.1.121.23|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7671027 (7.3M) [application/x-spss-sav]
Saving to: ‘mar.sav’

mar.sav             100%[===================>]   7.32M  22.1MB/s    in 0.3s

2025-03-07 15:54:52 (22.1 MB/s) - ‘mar.sav’ saved [7671027/7671027]

In [4]:
jan, mj = pt.read_sav('/content/jan.sav')
feb, mb = pt.read_sav('/content/feb.sav')
mar, mm = pt.read_sav('/content/mar.sav')

In [5]:
df = pd.concat([jan, feb, mar])
df

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
0,1.0,2021.0,1.0,1.0,48.0,7.0,3.0,5.0,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,13.0,NaN,270.0
1,2.0,2021.0,1.0,1.0,13.0,0.0,8.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,190.0
2,3.0,2021.0,1.0,4.0,11.0,0.0,12.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,39.0
3,4.0,2021.0,1.0,4.0,12.0,0.0,11.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,182.0
4,5.0,2021.0,1.0,4.0,35.0,0.0,1.0,2.0,2.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,11.0,NaN,238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86547,86548.0,2021.0,3.0,1.0,47.0,0.0,8.0,NaN,2.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18.0,NaN,127.0
86548,86549.0,2021.0,3.0,4.0,46.0,6.0,12.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,131.0
86549,86550.0,2021.0,3.0,1.0,10.0,0.0,4.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,2.0,171.0
86550,86551.0,2021.0,3.0,3.0,24.0,0.0,5.0,NaN,1.0,2.0,...,NaN,NaN,NaN,1.0,NaN,NaN,1.0,9.0,2.0,158.0
86551,86552.0,2021.0,3.0,1.0,59.0,0.0,6.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,2.0,303.0

# Some commands for the assignment

In [11]:
#filter
df[(df['AGE_12']>1) & (df['AGE_12']<3) & (df['HRLYEARN']==0)]

Empty DataFrame
Columns: [REC_NUM, SURVYEAR, SURVMNTH, LFSSTAT, PROV, CMA, AGE_12, AGE_6, SEX, MARSTAT, EDUC, MJH, EVERWORK, FTPTLAST, COWMAIN, IMMIG, NAICS_21, NOC_10, NOC_40, YABSENT, WKSAWAY, PAYAWAY, UHRSMAIN, AHRSMAIN, FTPTMAIN, UTOTHRS, ATOTHRS, HRSAWAY, YAWAY, PAIDOT, UNPAIDOT, XTRAHRS, WHYPT, TENURE, PREVTEN, HRLYEARN, UNION, PERMTEMP, ESTSIZE, FIRMSIZE, DURUNEMP, FLOWUNEM, UNEMFTPT, WHYLEFTO, WHYLEFTN, DURJLESS, AVAILABL, LKPUBAG, LKEMPLOY, LKRELS, LKATADS, LKANSADS, LKOTHERN, PRIORACT, YNOLOOK, TLOLOOK, SCHOOLN, EFAMTYPE, AGYOWNK, FINALWT]
Index: []

[0 rows x 60 columns]

In [ ]:
# unique values counts per column
df['SURVYEAR'].value_counts()

SURVYEAR
2021.0    255665
Name: count, dtype: int64

In [ ]:
# regressing hourly earn on education
import statsmodels.formula.api as smf

In [ ]:
m1 = smf.ols('HRLYEARN ~ EDUC', df).fit()

In [ ]:
print(m1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               HRLYEARN   R-squared:                       0.156
Model:                            OLS   Adj. R-squared:                  0.156
Method:                 Least Squares   F-statistic:                 2.215e+04
Date:                Thu, 06 Mar 2025   Prob (F-statistic):               0.00
Time:                        23:32:22   Log-Likelihood:            -4.7905e+05
No. Observations:              119933   AIC:                         9.581e+05
Df Residuals:                  119931   BIC:                         9.581e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     14.8269      0.105    141.063      0.000      14.621      15.033
EDUC           3.9228      0.026    148.832      0.000       3.871       3.974
==============================================================================
Omnibus:                    23415.453   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            49908.918
Skew:                           1.147   Prob(JB):                         0.00
Kurtosis:                       5.174   Cond. No.                         11.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# generating nice regression table with stargazer
%%capture
!pip install stargazer
import stargazer.stargazer as st

In [ ]:
st.Stargazer([m1])

In [ ]:
m2 = smf.ols('HRLYEARN ~ C(EDUC)', df).fit()

In [ ]:
st.Stargazer([m1,m2])

In [ ]:
# interaction
m3 = smf.ols('HRLYEARN ~ C(EDUC)*C(SEX)', df).fit()

In [ ]:
st.Stargazer([m3])

Renaming the covariates for next lab.

In [ ]:
df['SEX'].unique()

array([0, 1])

In [ ]:
# changing the values of a column
# df['SEX'] = df['SEX'].replace({1: 0, 2: 1})

# you can also substract SEX by 1

array([0., 1.])

In [ ]:
# also you can use filter
df['SEX'] = (df['SEX'] > 1).astype(int)